@charset "utf-8";
body{
    font-family: "맑은 고딕","malgun gothic",sans-serif;
}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

ul{
    width: 791px;
    margin: auto;
    /* 자식이 모두 float이되면 부모 높이는 0 */
    overflow: hidden;
}
ul li{
    float: left;
    width: 191px;
    height: 62px;
    border: 2px solid #242424;
    margin-right: 9px ;
    /* padding이나border줄때 크기영향안줄때 */
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 15px;
}
ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: right;
    letter-spacing: -1px;
}
ul li a p{
    font-size: 13px;
    color: #595959;
}
ul li a h4{
    font-size: 13px;
    color: #000;
    font-weight: 500;
}
ul .li4, ul .last{
    margin-right: 0;
}
ul .first, ul .li2, ul .li3, ul .li4{
    margin-bottom: 9px;
}


ul .first{
    background: url("../images/bg_banner_new.png") no-repeat 10px 12px ;
}

ul .li2{
    background: url("../images/bg_banner_new.png") no-repeat 10px 12px;
    background-position-y: -53px;
}
ul .li3{
    background: url("../images/bg_banner_new.png") no-repeat 10px 12px;
    background-position-y: -119px;
}
ul .li4{
    background: url("../images/bg_banner_new.png") no-repeat 10px 12px;
    background-position-y: -184px;
}ul .li5{
    background: url("../images/bg_banner_new.png") no-repeat 10px 12px;
    background-position-y: -246px;
}
ul .li6{
    background: url("../images/bg_banner_new.png") no-repeat 10px 12px;
    background-position-y: -309px;
}
ul .li7{
    background: url("../images/bg_banner_new.png") no-repeat 10px 12px;
    background-position-y: -371px;
}
ul .last{
    background: url("../images/bg_banner_new.png") no-repeat 10px 12px;
    background-position-y: -437px;
}