@charset "utf-8";
body{

}
/* 여백초기화 */
*{margin: 0;padding: 0;}
div{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
div button{
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    /* 애니메이션 실행 명령 */
    animation: scroll_ani 0.5s ease-in-out forwards infinite;
}

/* 애니메이션 설정 */
@keyframes scroll_ani {
    0%{bottom: 50px;}
    50%{bottom: 30px;}
    100%{bottom: 50px;}
}