@charset "utf-8";
body{

}
*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

ul{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
li img{
    width: 100%;
    height: 100%;
}
ul li .test1{
    filter: blur(10px);
}
ul li:hover .test1{
    filter: invert(100%);
}
ul li .test2{
    filter: opacity(30%);
}
ul li:hover .test2{
    filter: brightness(200%);
}
ul li .test3{
    filter: grayscale(100%);
}
ul li .test4{
    filter: drop-shadow(10px 10px 10px #000);
}
