
p{
    width: 600px;
    height: 400px;
    border: 5px solid red;
    margin: auto;
    /* 박스크기만큼만 보여지고 나머지는 숨김 */
    overflow: hidden;
    /* 박스크기보다 내용이 넘칠때 스크롤할때 */
    /* 박스크기보다 내용이 넘치지 않을때 스크롤바가 생기x */
    overflow: auto;
    /* 내용이 박스 크기보다 넘치/안넘치든 관계없이 무조건 보임 */
    /* overflow: scroll; */
    /* y스크롤바만 보이게 하기 */
    /* overflow-y: scroll; */
    /* x스크롤바만 보이게 하기 */
    overflow-x: scroll;
}