@charset "utf-8";
body{
    font-family: "돋음체", "dotum";
}
*{margin: 0;padding: 0;}
p{
    text-align: justify;
    font-size: 12px;
}
div{
    width: 390px;
    border: 2px solid #0e21c5;
    padding: 10px;
}
div h1{
    font-size: 16px;
    font-family: "돋음";
    margin-bottom: 18px;
}
div .span1{
    color: #dc6d28;
    font-weight: bold;
}
div .span2{
    color: #7e9299;
    font-weight: bold;
}
div .span3{
    color: #75a4d0;
    font-weight: bold;
}
div .p1{
    font-size: 14px;
    font-family: "돋음";
    margin-bottom: 27px;
}
div .p2{
    font-family: "돋음";
    font-size: 12px;
    color: #333;
    line-height: 18px;
}
div .p3{
    font-family: "돋음";
    font-size: 12px;
    color: #aaaaaa;
}
div .span4{
    width: 41px;
    height: 11px;
    background: #8e6bc7;
    border: 1px solid #514b65;
    color: #ffffff;
    font-size: 11px;
}