@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Noto+Sans+KR:wght@100..900&display=swap");
body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  height: 3000px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}

.en {
  font-family: "cormorant", serif;
}
section{
  width: 100%;
  overflow: hidden;
}

/* header 영역 */
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 30px;
  background: #ECEFF1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* header가 위로 올라감 */
header.move {
  transform: translateY(-100%);
}
header h1 a {
  color: #1E90FF;
}

/* 주메뉴 */
header .navi_wrap .gnb {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(200px);
  transition: all 0.5s ease-in-out;
}
header.on .navi_wrap .gnb {
  transform: translateX(0);
  opacity: 1;
}
header .navi_wrap .gnb ul {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 100%;
}
header .navi_wrap .gnb ul li a {
  color: rgba(000, 000, 000, 0.6);
}
header .navi_wrap .gnb ul li:hover a {
  color: #1E90FF;
}

/* 햄버거버튼 */
header .navi_wrap {
  display: flex;
  align-items: center;
  gap: 50px;
}
.m_btn {
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
}
.m_btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #1E90FF;
  left: 0;
}
.m_btn span:nth-child(1) {
  top: 0;
  transition: all 0.5s ease-in-out;
}
.m_btn span:nth-child(2) {
  top: 10px;
  transition: all 0.5s ease-in-out;
}
.m_btn span:nth-child(3) {
  top: 20px;
  transition: all 0.5s ease-in-out;
}
header.on .m_btn span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
header.on .m_btn span:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
header.on .m_btn span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

/* intro section */
#intro{
  width: 100%;
  height: 100vh;
  background: #fff;
  padding-top: 150px;
  position: relative;
}
#intro .intro_txt{
  font-size: 50px;
  position: absolute;
  line-height: 1;
  letter-spacing: -5px;
  left: 250px;
  box-sizing: border-box;
  color: #1E90FF;
}
#intro .subtxt{
  position: absolute;
  bottom: 150px;
  color: #1E90FF;
  font-size: 250px;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
}
#intro .subtxt .tit2{
  -webkit-text-stroke: 2px #1E90FF;
  color: transparent;
  position: absolute;
  bottom: 220px;
  left: 10px;
  font-size: 150px;
}

#profile {
  width: 100%;
  height: 1200px;
  background: #fff;
  position: relative;
  overflow: hidden;
}
#profile .inner {
  width: 1220px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#profile .inner h2 {
  color: #1E90FF;
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 64px;
  text-align: center;
  border-bottom: 2px solid #1E90FF;
}
#profile .inner .contents {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
#profile .inner .contents .p_left {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
/* #profile .inner .contents .p_left ul.info{
    border-left:5px solid #fff
} */
#profile .inner .contents .p_left ul.info li {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* padding-left: 32px; */
}
#profile .inner .contents .p_left ul.info .infotxt span{
    margin-left: 44px;
}
#profile .inner .contents .p_left ul.info li span{
    font-size: 20px;
    color:rgba(000, 000, 000, 0.5);
    margin-left: 15px;
}
#profile .inner .contents .p_left .certificate{
    margin-top: 70px;
}
#profile .inner .contents .p_left .certificate h3{
    color: #000;
    font-size: 32px;
    font-weight: 600;
}
#profile .inner .contents .p_left .certificate ul li{
    margin-top: 30px;
    color:rgba(000, 000, 000, 0.5);
}
#profile .inner .contents .p_right{
    width: 820px;
    /* background: GOLD; */
}
#profile .inner .contents .p_right .experience{
    display:flex;
    /* justify-content: space-between; */
    align-items: flex-start;
} 
.p_right .experience h3,
.p_right h3
{
color: #000;
font-size: 32px;
font-weight: 600;
}
.p_right .experience ul.edu li{
    color:rgba(000, 000, 000, 0.5);
    margin-top: 15px;
    margin-bottom: 24px;
    margin-left: 55px;
}
.p_right .skill_wrap{
  display:flex;
  gap: 145px;
  margin-top: 50px;
}
.p_right .skill_wrap ul.list li{
  display:flex;
  gap:32px;
  color:rgba(000, 000, 000, 0.5);
  margin-bottom: 24px;
  align-items: center;
}
.p_right .skill_wrap ul.list li .tit{
   width: 100px;
}
.p_right .skill_wrap ul.list li .gage{
  width: 363px;
  height: 10px;
  background: #fff;
  position: relative;
}
.p_right .skill_wrap ul.list li .gage .gagein{
  position: absolute;
  width: 90%;
  height: 10px;
  background: #1E90FF;
}
.p_right .skill_wrap ul.list li:nth-child(3) .gage .gagein,
.p_right .skill_wrap ul.list li:nth-child(4) .gage .gagein,
.p_right .skill_wrap ul.list li:nth-child(5) .gage .gagein
{
  width: 70%;
}
.p_right .skill_wrap ul.list li:nth-child(6) .gage .gagein{
    width: 95%;
}

/* 갤러리 영역 */
#designwork{
  width: 100%;
  height: 1200px;
  background: #fff;
  /* overflow: hidden; */
}
#designwork h2{
  /* text-align:center;
  font-size: 80px; */
  width: 1220px;
  margin: auto;
    color: #1E90FF;
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 64px;
  text-align: center;
  border-bottom: 2px solid #1E90FF;
}
#designwork h2 p{
  line-height: 0.8;
}
#designwork h2 p.b{
  font-size: 90px;
}

#designwork .inner{
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* tab menu */
#designwork .inner .tab_menu{
  position: absolute;
  right: 0;
  top: 200px;
}
#designwork .inner .tab_menu ul.tab_btn{
  display:flex;
  gap:10px;
}
#designwork .inner .tab_menu ul.tab_btn li{
  width: 150px;
  height: 45px;
  /* 텍스트를 세로로 정열 */
  /* writing-mode: vertical-rl; */
}
#designwork .inner .tab_menu ul.tab_btn li a{
  display:block;
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  color:#00c9c8;
  font-weight: bold;
  background: #fff;
  border-radius: 999px;
}
#designwork .inner .tab_menu ul.tab_btn li.on a{
  background: #1E90FF;
  color:#FFF;
}

/* 작품갤러리 리스트 */
#designwork .inner ul.graphic{
  display:grid;
  grid-template-columns: 291px 291px 291px 291px;
  grid-template-rows: 220px 220px 220px;
  gap:12px;
}
#designwork .inner ul.graphic li{
  width: 100%;
  height: 100%;
  position: relative;
}
/* cover */
#designwork .inner ul.graphic li::after{
  content:'';
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index:10;
  cursor: pointer;
  opacity: 0;
}
#designwork .inner ul.graphic li:hover::after{
  opacity: 1;
}
#designwork .inner ul.graphic li a{
  display:block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#designwork .inner ul.graphic li a .imgbox{
  width: 100%;
  height: 100%;
}
#designwork .inner ul.graphic li a .imgbox img{
    width: 100%;
    height: 100%;
    /* 이미지 왜곡 안되서 채울때 */
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}
#designwork .inner ul.graphic li:nth-child(3){
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}
#designwork .inner ul.graphic li:hover .imgbox img{
  transform: scale(1.2);
}
#designwork .inner ul.graphic li a p{
  color:#fff;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%,-50%);
  z-index: 20;
  transition: all 0.5s ease-in-out;
  opacity:0;
}
#designwork .inner ul.graphic li:hover p{
  opacity: 1;
  top: 50%;
}
#designwork .inner ul.graphic li a p span{
  display:block;
}

/* 입사 각오 */
#joineg{
  width: 100%;
  height: 300vh;
  background: #fff;
  overflow: hidden;
  display:flex;
  padding-left: 350px;
  margin-top: 300px;
}
#join .txtbox,#joineg .txtbox{
  font-size:50px;
  line-height: 1.2;
}

#joineg .txtbox .mask span
{
  -webkit-text-fill-color: rgba(0,0,0,0.4);
  /* 배경크립을 텍스트로 제한하여 글자 마스크처리해주는 명령 */
  -webkit-background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(#1E90FF,#1E90FF);
  background-size: 0% 100%;
}
/* #joineg{
  justify-content: flex-end;
} */