@media ( min-width:768px ) and ( max-width:1024px ){
    header{
        height: 120px;
    }
    header .inner{
        width: 100%;
        height: 120px;
    }
    header .inner h1{
        left: 50%;
        transform: translateX(-50%);
        top: 15px;
    }
    header .inner nav{
        padding-top: 70px;
    }
    header .inner .sns{
        display: none;
    }
    main .visual{
    height: 600px;
}
/* 메인에 work 영역 */
main .work .inner{
    width: 100%;
}
.work .inner h2{
    font-size: 32px;
}
.work .inner p{
    font-size: 15px;
}
/* 메인 영역안에 skill */
/* 2개씩 아래로 */
.skill{
    padding: 20px;
}
.skill .inner{
    width: 100%;
}
.skill .inner ul.list li{
    width: 46%;
}

    /* 메인에 이미지설명2 */
main figure.second{
    margin-top: 100px;
}
    /* 메인에 news영역 */
main .news .inner{
    width: 100%;
}
main .news .inner ul.list li a .txt h3{
    font-size: 20px;
}

}