@charset "utf-8";
body{
    background: #fff;
}

*{margin: 0;padding: 0;}
button{border: none;background: none;cursor: pointer;}
p{
    text-align: center;
}
div{
    width: 800px;
    height: 600px;
    margin: auto;
    background-image: linear-gradient(to bottom,#029703,#fff);
    border: 1px solid #000;
}
.btnwrap{
    margin: 50px auto 0;
    width: 130px;
    height: 40px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom,#8ED8FA,#196FC4);
    cursor: pointer;
}
.btnwrap button{
    display: block;
}